
<?php
/** @var $this HN_Book_Block_Catalog_Product_Bookdate */

$label = 'Start date';
$product = $this->getProduct();

$un_avai = $this->getUnAvailableDays();

?>
<fieldset class="wc-bookings-date-picker ">
	<legend>
		<span class="label"><?php echo $label; ?></span>: <small class="wc-bookings-date-picker-choose-date"><?php $this->__( 'Choose...', 'woocommerce-bookings' ); ?></small>
	</legend>


	
	<p>
		<label><?php echo __('Check in ') ?></label>
		<input id="bookable-checkin" class="picker" name="bookable_option[StartTime]" type="text" /> <span id="bookable-checkin-icon" class="date-icon"></span>
	</p>
	<p>
		<label><?php echo __('Check out ') ?></label>
		<input id="bookable-checkout" class="picker"  name="bookable_option[EndTime]" type="text" />  <span id="bookable-checkout-icon"  class="date-icon"></span>
	</p>
	<p>
		<label><?php echo __('Note') ?></label>
		<textarea  name="bookable_option[Note]"> </textarea>
	</p>
	
</fieldset>

<script type="text/javascript">
    availableDates = ['02-24-2016','02-25-2016','02-26-2016'];

    jQuery.noConflict();

    jQuery(document).ready(function() {

        jQuery('#bookable-checkin').datepicker({
            dateFormat: 'dd-mm-yy',
            beforeShowDay:  function(d) {
                var dmy = (d.getMonth()+1);
                if(d.getMonth()<9)
                    dmy="0"+dmy;
                dmy+= "-";

                if(d.getDate()<10) dmy+="0";
                dmy+=d.getDate() + "-" + d.getFullYear();

                console.log(dmy+' : '+(jQuery.inArray(dmy, availableDates)));

                if (jQuery.inArray(dmy, availableDates) != -1) {
                    return [true, "","Available"];
                } else{
                    return [false,"","unAvailable"];
                }
            }
        }) ;

        jQuery("#bookable-checkin-icon").click(function() {
            jQuery("#bookable-checkin").datepicker( "show" );
        });


        jQuery('#bookable-checkout').datepicker({
            dateFormat: 'dd-mm-yy'
        }) ;

        jQuery("#bookable-checkout-icon").click(function() {
            jQuery("#bookable-checkout").datepicker( "show" );
        });

    });
</script>
