<?php $_product = $this->getProduct() ?>

<div class="fieldset">
	<table cellspacing="0" class="form-list">
		<tbody>
			
			<tr>
			     <td class="label"><label for="name"><?php echo Mage::helper('book')->__('Max bookings per block')?></label>
				</td>
				<td class="value">
					<input type="text" class="input-text"
					id="book_max_duration" name="product[book_max_duration]" value="1">
					
				</td>   
				
			</tr>
			
			<tr>
			     <td class="label"><label for="name"><?php echo Mage::helper('book')->__('All dates are')?> ...</label>
				</td>
				<td class="value"><select class="input-select"
					id="book_min_duration" name="product[book_duration][type]">
						<option value="available"><?php echo __('Available by default') ?> </option>
						<option value="not-available"><?php echo __('Not available by default') ?> </option>
				</select></td> 
				
			</tr>
			
			<tr>
			     <td class="label"><label for="name"><?php echo Mage::helper('book')->__('Check rules against...')?> ...</label>
				</td>
				<td class="value"><select class="input-select"
					id="book_min_duration" name="product[book_duration][type]">
						<option value="booked"><?php echo __('All blocks being booked') ?> </option>
						<option value="start"><?php echo __('The starting block only') ?> </option>
				</select></td> 
				
			</tr>
			
			<!-- Start rule -->
			<div>
<fieldset>

<table>

<?php 
$_product = $this->getProduct();

$priceRules = Mage::helper('book')->getPriceRules($_product->getId());

 ?>


<!-- Email chain -->
<!-- Email chain -->
<tr>
	<td class="label"><label><?php echo  Mage::helper('book')->__('Price rule') ?></label>
	</td>
	<td class="grid tier" colspan="10">
		<table cellspacing="0" id="ava_chain_table" class="data border">
			<thead>
				<tr class="headings">
					<th><?php echo $this->__('Time Range') ?></th>
					<th><?php echo $this->__('From') ?></th>
					<th><?php echo $this->__('To') ?></th>
					<th><?php echo $this->__('Bookable') ?></th>
					<th class="last"><?php echo $this->__('Action') ?></th>
				</tr>
			</thead>
			<tbody id="ava_container">
						<?php
						
if ($priceRules) :
							foreach ( $priceRules as $key => $row ) {
								$selected = '';
								?>
			 <tr id="<?php echo $key ?>">
					<td>
						<select class="before-after-chain" id="" data-selected="<?php echo $row['time_type'] ?>"
							name="chain[<?php echo $key ?>][time_type]" class=" input-text ">
								<option value="custom" selected="selected">Custom date range</option>
								<option value="months">Range of months</option>
								<option value="weeks">Range of weeks</option>
								<option value="days">Range of days</option>
								<option value="time">Time Range</option>
								<option value="persons">Person count</option>
								<option value="blocks">Block count</option>
								<optgroup label="Time Ranges">
									<option value="time">Time Range (all week)</option>
									<option value="time:1">Monday</option>
									<option value="time:2">Tuesday</option>
									<option value="time:3">Wednesday</option>
									<option value="time:4">Thursday</option>
									<option value="time:5">Friday</option>
									<option value="time:6">Saturday</option>
									<option value="time:7">Sunday</option>
								</optgroup>			
	
						</select>
					</td>
					<td><input class="day-chain" name="chain[<?php echo $key ?>][time_from]" type="text" value="<?php echo $row['time_from'] ?>" /></td>

					<td><input class="day-chain" name="chain[<?php echo $key ?>][time_to]" type="text"  value="<?php echo $row['time_to'] ?>"/> </td>

				    <td>
				    <select class="day-chain" name="chain[<?php echo $key ?>][avai]"  data-value="<?php echo $row['avai'] ?>"  >
				   		 <option><?php echo $this->__('yes') ?></option>
				   		  <option><?php echo $this->__('no') ?></option>
				    </select>
				     </td>

					

					<td class="last"><input type="hidden" id=""
						value="" class="delete" name="">
						<button onclick="return avaControl.deleteRow(event);"
							id=""
							class="scalable delete icon-btn delete-product-option"
							type="button" title="Delete">
							<span><?php echo $this->__('Delete') ?></span>
						</button></td>
				</tr>
						<?php } endif;?>
							<tr id="1000" style="display: none">
					<td><select class="before-after-chain" id=""
						name="chain[1000][time_type]" class=" input-text ">

								<option value="custom" selected="selected">Custom date range</option>
								<option value="months">Range of months</option>
								<option value="weeks">Range of weeks</option>
								<option value="days">Range of days</option>
								<option value="time">Time Range</option>
								<option value="persons">Person count</option>
								<option value="blocks">Block count</option>
								<optgroup label="Time Ranges">
									<option value="time">Time Range (all week)</option>
									<option value="time:1">Monday</option>
									<option value="time:2">Tuesday</option>
									<option value="time:3">Wednesday</option>
									<option value="time:4">Thursday</option>
									<option value="time:5">Friday</option>
									<option value="time:6">Saturday</option>
									<option value="time:7">Sunday</option>
								</optgroup>
					</select></td>
					<td><input class="day-chain" name="chain[1000][time_from]" type="text" /></td>

					<td><input class="day-chain" name="chain[1000][time_to]" type="text" /> </td>
                    <td>
				   <select class="day-chain" name="chain[1000][avai]"    >
				   		 <option><?php echo $this->__('yes') ?></option>
				   		  <option><?php echo $this->__('no') ?></option>
				    </select>
				    </td>

					<td class="last"><input type="hidden" id=""
						value="" class="delete" name="">
						<button onclick="return avaControl.deleteRow(event);"
							id="group_price_row_0_delete_button"
							class="scalable delete icon-btn delete-product-option"
							type="button" title="Delete Group Price">
							<span><?php echo $this->__('Delete') ?></span>
						</button></td>
				</tr>

			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td class="a-right" colspan="4"><button style=""
							onclick="return avaControl.addRow()" class="scalable add"
							type="button" title="<?php echo $this->__('Add') ?>"
							id="">
							<span><span><span><?php echo $this->__('Add') ?></span></span></span>
						</button></td>
				</tr>
			</tfoot>
		</table>

</tr>
<!-- End email chain -->
</table>
</fieldset>
</div>


<script type="text/javascript">
var avaControl = new tableAva('ava_chain_table','ava_container','1000');
</script>
			<!-- End rule -->
