<h4><?php echo __('Cost') ?></h4>

<style>
.before-after-chain {
	width: 80px !important
}

.day-chain {
	width: 40px
}

.hour-chain {
	width: 50px
}

.minute-chain {
	width: 50px
}

.template-chain { {
	width: 200px
}
</style>
<div>
<fieldset>

<table>

<?php 
$_product = $this->getProduct();

$bookable = $_product->getBookableData();

$priceRules = Mage::helper('book')->getPriceRules($_product->getId());
$priceRules = Mage::getModel('book/pricerule')->getCollection()->addFilter('product_id' , $_product->getId());
 ?>

 
<!-- Email chain -->
<!-- Email chain -->
<tr>
	<td class="label"><label><?php echo  Mage::helper('book')->__('Price rule') ?></label>
	</td>
	<td class="grid tier" colspan="10">
		<table cellspacing="0" id="email_chain_table" class="data border">
			<thead>
				<tr class="headings">
					<th><?php echo $this->__('Time Range') ?></th>
					<th><?php echo $this->__('From') ?></th>
					<th><?php echo $this->__('To') ?></th>
					<th><?php echo $this->__('Price') ?></th>
					<th class="last"><?php echo $this->__('Action') ?></th>
				</tr>
			</thead>
			<tbody id="chain_container">
						<?php
						
if ($priceRules) :
							foreach ( $priceRules as $key => $row ) {
					            
								$selected = '';
								?>
			 <tr id="<?php echo $key ?>">
					<td>
						<select class="before-after-chain bookcosttimerange" id="bookcostrange<?php echo $row->getId() ?>" data-selected="<?php echo $row['time_type'] ?>"
							name="bookable[price][<?php echo $row->getId() ?>][time_type]" class=" input-text ">
								<option value="custom" selected="selected">Custom date range</option>

	
						</select>
					</td>
					<td><input class="day-chain" placeholder="mm-dd-yyyy" name="bookable[price][<?php echo $row->getId() ?>][time_from]" type="text" value="<?php echo $row['time_from'] ?>" /></td>

					<td><input class="day-chain" placeholder="mm-dd-yyyy"  name="bookable[price][<?php echo $row->getId() ?>][time_to]" type="text"  value="<?php echo $row['time_to'] ?>"/> </td>

				    <td><input class="day-chain" name="bookable[price][<?php echo $row->getId() ?>][price]" type="text" value="<?php echo $row['price'] ?>"  /> </td>
                     <td><input class="day-chain" name="bookable[price][<?php echo $row->getId() ?>][price_id]" type="hidden" value="<?php echo $row['id'] ?>"  /> </td>
                    
					

					<td class="last"><input type="hidden" id=""
						value="" class="delete" name="">
						<button onclick="return emailChainControl.deleteRow(event);"
							id=""
							class="scalable delete icon-btn delete-product-option"
							type="button" title="Delete">
							<span><?php echo $this->__('Delete') ?></span>
						</button></td>
				</tr>
						<?php } endif;?>
							<tr id="10000" style="display: none">
					<td><select class="before-after-chain" id=""
						name="bookable[price][10000][time_type]" class=" input-text ">

								<option value="custom" selected="selected">Custom date range</option>

					</select></td>
					<td><input class="day-chain" placeholder="mm-dd-yyyy" data-role="data-picker" name="bookable[price][10000][time_from]" type="text" /></td>

					<td><input class="day-chain" placeholder="mm-dd-yyyy"   data-role="data-picker" name="bookable[price][10000][time_to]" type="text" /> </td>

				    <td><input class="day-chain" name="bookable[price][10000][price]" type="text" /> </td>
				    
                     <td><input class="day-chain" name="bookable[10000][price]" type="hidden" value="0"  /> </td>
                     
					<td class="last"><input type="hidden" id=""
						value="" class="delete" name="">
						<button onclick="return emailChainControl.deleteRow(event);"
							id="group_price_row_0_delete_button"
							class="scalable delete icon-btn delete-product-option"
							type="button" title="Delete Group Price">
							<span><?php echo $this->__('Delete') ?></span>
						</button></td>
				</tr>

			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td class="a-right" colspan="4"><button style=""
							onclick="return emailChainControl.addRow()" class="scalable add"
							type="button" title="<?php echo $this->__('Add') ?>"
							id="">
							<span><span><span><?php echo $this->__('Add') ?></span></span></span>
						</button></td>
				</tr>
			</tfoot>
		</table>

</tr>
<!-- End email chain -->
</table>
</fieldset>
</div>


<script type="text/javascript">
var emailChainControl = new tableFieldset('email_chain_table','chain_container','10000');

function priceDatePicker() {
    jQuery('input[data-role="data-picker" ]').datepicker({
        dateFormat: 'mm-dd-yy'
      }) ;
}
jQuery(document).ready(function() {
     jQuery('select.bookcosttimerange').each(function() {
              jQuery(this).val(jQuery(this).data('selected'));
         });
	});
</script>
<input type="hidden" id="load_tree_cat" value="0" />
