<?php
echo "<h2> Resource </h2>";

?>

<?php 
$_product = $this->getProduct();

if ( $_product->getId() ) { 
 ?>

<!-- use an ajax to create a new resource then update it -->




<?php
echo $this->getChildHtml('userGrid');

?>

<script type="text/javascript">
//Request URL:http://127.0.0.1/magento/index.php/book_admin/adminhtml_resource/save/key/ea62608c329adb0d12db28c146baba56/
//Request URL:http://127.0.0.1/magento/index.php/book_admin/adminhtml_resource/save/key/ea62608c329adb0d12db28c146baba56/

var resource_save_url = '<?php echo Mage::helper("adminhtml")->getUrl("book_admin/adminhtml_resource/saveajax") ?>';
var resource_data = {
		form_key: jQuery('input[name="form_key"]').eq(0).val(),
		is_ajax : "yes",
	};
jQuery(document).ready(function() {

	jQuery('#submitaddresource').click(function() {

		console.log('adding new resource');

		//
		jQuery('.addnewresource').each(function(index, element) {

            $r_n =  jQuery(this).attr('name');
            $r_v = jQuery(this).val();

            resource_data[$r_n]= $r_v;


			} ) ;

		//send ajax request
		  jQuery.post( resource_save_url, resource_data, function( response ) {

              console.log(response);

            });

		});
}) ;

</script>


<?php  }  else { ?>
<div class="empty-resource note" > <?php echo __('Resource can use to associate with bookable product') ?></div>

<p> <?php echo __('For example you can use Room 1, Room 2, Room x as resource. It is associated with Luxury room . Room a, Room b are resource too. It associate with the Normal room producct. If there is one normal ')  ?> </p>

<?php  } ?>