<style>
  .mn-book-button {
      display:inline-block;
      color:#F9F2F2;
      border:1px solid #CCC;
      background:#047196;
      box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
      cursor:pointer;
      vertical-align:middle;
      max-width: 100px;
      padding: 5px;
      text-align: center;  }
</style>
<?php

$id = Mage::app()->getRequest()->getParam('id');
//admin/catalog_product/edit/id/2/
$url = Mage::getUrl('book_admin/adminhtml_book/saveresourcetobook', array('id' => $id));
?>

<div id="mn-assign-resource" class='mn-book-button'><?php echo __('Assign to booking') ?> </div>


<form  id="assign_rs_form" action="<?php echo $url ?>" method="post">

<input type="hidden" name="book_id" value="<?php echo $id?>" >
<input type="hidden" name="form_key"  id="rs_fk"/>
<input type="hidden" id="a_book_resource_ids"  name="resource_ids" value="">
</form>
<script type="text/javascript">
<!--

//-->

var bookingBackAfterAssign = '<?php echo $url ?>';
</script>
