<?php
/**
 * copyright 2016 Magenest
 */

$endDate = new DateTime();
$endTime = $endDate->format('Y-m-d');
?>
<script>
    jQuery(document).ready(function() {

        jQuery('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: '<?php echo $endTime ?>',
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: {
                url: '<?php echo $this->getUrl('book_admin/adminhtml_calendar/events') ?>',
                error: function() {
                    jQuery('#script-warning').show();
                }
            },
            loading: function(bool) {
                jQuery('#loading').toggle(bool);
            }
        });

    });
</script>
<div id='calendar'></div>

<div id='script-warning' style="display: none">
    <?php echo __("There is error happened when fetching event") ?>
</div>

<div id='loading' style="display: none" >loading...</div>