.wc-bookings-date-picker label{
width: 90px;
}
.wc-bookings-date-picker input.picker{
width: 250px;
}
.wc-bookings-date-picker .label{
color:#333;
}
.wc-bookings-date-picker .date-icon{
width: 35px;
height:27px;

display:inline-block;
vertical-align: middle;
background-image: url("../images/mn_book/date-icon.png");
background-repeat: no-repeat;
background-position: center;
background-size: auto 100%;
}