<?php
/** @var $this HN_Book_Block_Adminhtml_Book_Availability */
/** @var  $avs HN_Book_Model_Mysql4_Avarule_Collection */
$avs = $this->getGlobalAvaibility();

?>
<h2 class="legend"><?php echo __('Global Avaibility') ?></h2>
<form method="get" action="<?php echo $this->getPostUrl() ?>" >
<table data-role="flexible-table" class="global-avaibility-for-booking" id="global-avaibility-for-booking">
    <thead>
    <tr>
        <th><?php echo __("Range Type")  ?></th>
        <th><?php echo __("From")  ?></th>
        <th><?php echo __("To")  ?></th>
        <th><?php echo __("Bookable")  ?></th>
        <th><?php echo __("Action")  ?></th>

    </tr>
    </thead>
    <tbody id="global-avaibility-for-booking-body">
    <?php  if ($avs->getSize() ) {?>
        <?php foreach ($avs as $i=>$av) { ?>
            <tr id="<?php echo $i?>">
                <td>
                    <select name="ga[<?php echo $i?>][time_type]">
                        <option value="custom-date-range"> <?php echo __("Custom date range") ?> </option>
                    </select>

                </td>
                <td>

                    <input name="ga[<?php echo $i?>][time_from]" type="text" data-role="datepicker" value="<?php echo $av->getData('time_from') ?>" placeholder="mm-dd-yyyy">

                </td>
                <td>
                    <input name="ga[<?php echo $i?>][time_to]" type="text" data-role="datepicker" value="<?php echo $av->getData("time_to")  ?>" placeholder="mm-dd-yyyy">

                </td>

                <td>
                    <select name="ga[<?php echo $i?>][bookable-status]" name="ga[1000][bookable-status]">
                        <option value="1"><?php echo __("Bookable") ?></option>
                        <option value="0"><?php echo __("Not Bookable") ?></option>

                    </select>
                </td>
                <td>
                    <a class="action" onclick="return emailChainControl.deleteRow()"  ><?php echo __("Delete") ?></a>
                </td>
            </tr>
    <?php } }  ?>
    <tr id="1000" style="display:none">
        <td>
            <select name="ga[1000][time_type]">
                <option value="custom-date-range"> <?php echo __("Custom date range") ?> </option>
            </select>

        </td>
        <td>

            <input name="ga[1000][time_from]" type="text" placeholder="mm-dd-yyyy" >

        </td>
        <td>
            <input name="ga[1000][time_to]" type="text"  placeholder="mm-dd-yyyy">

        </td>

        <td>
            <select name="ga[1000][bookable-status]" name="ga[1000][bookable-status]">
                <option value="1"><?php echo __("Bookable") ?></option>
                <option value="0"><?php echo __("Not Bookable") ?></option>

            </select>
        </td>
        <td>
            <a class="action" onclick="return emailChainControl.deleteRow()"  ><?php echo __("Delete") ?></a>
        </td>
    </tr>

    </tbody>

    <tfoot>
    <tr>
        <td> <a class="action" onclick="return emailChainControl.addRow()"  ><?php echo __("Add") ?></a> </td>
    </tr>
    </tfoot>

</table>

    <script type="text/javascript" >

    </script>

  <input type="submit" value="<?php echo __("Save Change")  ?>"  />

</form>
<script type="text/javascript">

    function ga_datepicker() {
        jQuery('input[data-role="datepicker"]').datepicker( {dateFormat: 'mm-dd-yy'}) ;
    }
    var emailChainControl = new tableFieldset('global-avaibility-for-booking','global-avaibility-for-booking-body','1000');
    jQuery(document).ready(function() {
        jQuery('select.bookcosttimerange').each(function() {
            jQuery(this).val(jQuery(this).data('selected'));
        });
        ga_datepicker();
    });
</script>