<?php
/**
 * Created by Magenest
 * User: Luu Thanh Thuy
 * Date: 26/02/2016
 * Time: 16:28
 */
/** @var  $this */

$collectionBooks = Mage::getResourceModel('catalog/product_collection')
    ->addAttributeToFilter('type_id', array('eq' => 'book'));
?>

<h2 class="legends"> <?php echo __("Send email notification") ?></h2>

<form method="post" action="<?php echo $this->getUrl('book_admin/adminhtml_notification/send') ?>">

    <div class="field">
        <label><?php echo __("Select product") ?></label>

        <div class="input">
            <select name="product_id">
                <option><?php echo __('select a product') ?></option>
                <?php if ($collectionBooks->getSize() > 0) { ?>
                    <?php  foreach($collectionBooks as $product) {  ?>
                        <?php if (!$product->getName()) $product= Mage::getModel('catalog/product')->load($product->getId()); ?>
                        <option value="<?php echo $product->getId() ?>"> <?php echo $product->getName()  ?></option>
                    <?php } ?>
                <?php  } ?>

            </select>
        </div>

    </div>

    <div class="field">
        <label><?php echo __("Select booking status") ?></label>

        <div class="input">
            <select name="status">
                <option value="<?php HN_Book_Model_Book::STATUS_COMPLETE ?>"><?php echo __("complete ") ?></option>
                <option value="<?php HN_Book_Model_Book::STATUS_PAID ?>"><?php echo __("paid ") ?></option>
                <option value="<?php HN_Book_Model_Book::SATUS_CONFIRM ?>"><?php echo __("confirm ") ?></option>
                <option value="<?php HN_Book_Model_Book::STATUS_UNPAID ?>"><?php echo __("unpaid ") ?></option>
                <option value="<?php HN_Book_Model_Book::STATUS_CANCELLED ?>"><?php echo __("cancel ") ?></option>
                <option value="<?php HN_Book_Model_Book::STATUS_PENDING_CONFIRMATION ?>"><?php echo __("pending-confirmation ") ?></option>

            </select>
        </div>

    </div>

    <div class="field">
        <label><?php echo __("Subject") ?></label>

        <div class="input">
           <input name="subject" type="text">
        </div>

    </div>
    <div class="field">
        <label><?php echo __("Content") ?></label>

        <div class="input">
           <textarea name="content"></textarea>
        </div>

    </div>

    <input type="submit" value="<?php echo __("Send") ?>" title="<?php echo __("Send")  ?>">
</form>